<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=New+Rocker|Rubik+Mono+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>Trivia</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Trivia</a>
  </nav>
  <div id="app">
    <div v-if="!started">
      <div class="startText">
        <h1>Trivia! How Many Can You Get Right?</h1>
        <p>This is a test of your knowledge of several different aspects of Computer Science, we are only looking for the most brilliant, if you pass this test 100% we will message you in time.</p>
        <center>
          <button class="button" v-on:click="startTrivia">GO!</button>
        </center>
      </div>
    </div>
    <div v-else-if="loading">
      <p>Loading...</p>
    </div>
    <div v-else>
      <div v-if="showquestions">
        <div class="questionbox">
          <p><b>{{getQuestion}}</b></p>
          <div v-for="choice in getChoices">
            <div class="option">
              <button class="btn btn-primary btn-lg btn-block" v-on:click="selected(choice)" class="{'green': turn}">{{choice}}</button>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="questionbox">
          <p><b>Grade: {{grade}}%</b></p>
          <div v-for="question in questions">
            <div class='option'>
              <div v-if="question.answered_correctly">
                <div class=right>
                  <p>Question: {{question.question}}</p>
                  <p>You Answered: {{question.correct_answer}}</p>
                </div>
              </div>
              <div v-else>
                <div class=wrong>
                  <p>Question: {{question.question}}</p>
                  <p>Correct Answer: {{question.correct_answer}}</p>
                </div>
              </div>
            </div>
          </div>
          <button class="button" v-on:click="tryAgain">Try Again!</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/script.js"></script>
</body>
<footer>
  <center><a href="https://github.com/greensurfer/CP_3.git">Source code</a></center>
</footer>

</html>